<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="js/main.js"></script>
	</head>

	<body>
	    <div class="form-group">
	      <h1>To-Do <small>List</small></h1>
	    <form role="form">
	        <input type="text" class="form-control" placeholder="Your Task" name="task">
	    </form>
	    <button type="button" class="btn btn btn-primary">Add</button>
	        </div>
	        <div></div>
	    <ul id="todo"></ul>
	</body>
</html>